
.navbar{
    background: linear-gradient(45deg, rgb(111 65 240) 0%, rgba(116, 15, 214, 0.9) 100%);
    padding: 12px 0;
}

.navbar-nav {
  
    padding: 4px 20px;
    
}
.navbar-light .navbar-brand {
    color: #ffffff;
    color: #ffffff;
    font-weight: bold;
    padding-left: 13%;
}
.navbar-light .navbar-nav .active>.nav-link,
.navbar-light .navbar-nav .nav-link {
    color:#fff;
}
.navbar-light .navbar-toggler {
    color: white !important;
    background-color:  rgba(116, 15, 214, 0.9);
    border-color: rgb(255, 255, 255);
    margin-left: 10px;
    margin-right: 10px;
}
.btn-outline-light {
    /* color: #ffffff !important; */
    border-color: #f1f1f1 !important;
}
a{
    background-color: transparent;
}
.btn {
    border: 2px solid rgba(255, 255, 255, 0.5);
    color: #fff;
    padding: 6px 20px;
    font-size: 13px;
   
}

.btn-outline-light:hover {
    color: #ffffff;
    background-color:rgba(116, 15, 214, 0.9) ;
    border-color: #ffffff;
}
.btn-outline-light:hover {
    color: #ffffff;
    background-color: rgba(116, 15, 214, 0.9);
    border-color: #ffffff;
}
.btn-outline-light:hover {
    color: #ffffff;
    background-color: rgba(116, 15, 214, 0.9);
    border-color: #fff;
}
.navbar-light .navbar-nav .nav-link:hover {
    color: rgb(255 255 255);
    border-bottom: 2px solid #fff;
}
.navbar-light .navbar-nav .active>.nav-link a,
 .navbar-light .navbar-nav .nav-link a {
    color: #fff;
    border-bottom: 2px solid #fff;
}
@media (min-width:1024px){
.navbar-collapse {
    text-align: center;
    justify-content: right;
}
}
@media (min-width: 992px){
    .navbar-expand-lg .navbar-collapse {
    text-align: center;
    justify-content: right;
    }
}
@media (min-width: 992px){
.navbar-br {
    text-align: center;
    padding-left: 63px;
    min-width: 14%;
}
}
@media (min-width: 1100px){
    .navbar-br {
        text-align: center;
        padding-left: 43px;
        min-width: 18%;
    }
    }
@media (min-width: 1300px){
    .navbar-br {
        text-align: center;
        padding-left: 33px;
        min-width: 20%;
    }
    }
@media (min-width: 992px){
    .navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 1.5rem;
    padding-left: 1.5rem;
    }
}

@media (min-width: 992px){
    #btn-top{
    display: none !important;

    }
}
/* ***********************nav************************* */

#hero{
   
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/hero-bg.jpg) center center no-repeat;
    background-size: cover;
    margin-bottom: 60px;
    padding: 100px 0 30px 0
}
#hero .animated {
    animation: up-down 2s ease-in-out infinite alternate-reverse both;
}

#hero .img-fluid img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}

.hero-btn {
    border: 2px solid rgb(255 255 255);
    color: #ffffff;
    padding: 6px 20px;
    background-color: #733cec;
    font-size: 17px;
    margin-bottom: 30px;
   
}
.hero-btn:hover {
    color: rgba(116, 15, 214, 0.9);
    background-color: rgb(254 253 255 / 90%);
    border-color: #fff;
}
#hero h1 {
    font-size: 4.5rem;
    color: #fff;
}
#hero p {
    font-size: 1.5rem;
    color: #fff;
    margin-top: 21px;
    margin-bottom: 1.5rem;
}
@media screen and (max-width: 992px){
    #hero .row{
         flex-direction: column-reverse;
         text-align: center ;

     }
 }
@media screen and (max-width: 992px){
   #hero .img-fluid{
        max-width: 70%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #hero h1{
        font-size: 3.5rem;

    }
}
@media screen and (min-width:752px) and (max-width: 992px){
    #hero h1{
        font-size: 1.8rem;

    }
}
@media screen and (min-width:752px) and (max-width: 992px){
    #hero p{
        font-size: 1rem;

    }
}

@media screen and (max-width:752px){
    #hero h1{
        font-size: 2.2rem;

    }
}
@media screen and (max-width:752px){
    #hero p{
        font-size: 1rem;

    }
}
@keyframes up-down{
    0% {
        transform: translateY(10px);
    }
    100% {
        transform: translateY(-10px);
    }
}
/**************hero*****************/
#about{
    background: #fff;
    padding: 100px 0 60px 0;
}
#about .img-fluid img {
    max-width: 100%;
    height: auto;
    vertical-align: middle;
    border-style: none;
}
.about-btn {
    border: 2px solid rgb(255 255 255);
    color: #ffffff;
    padding: 10px 30px;
    background: linear-gradient(45deg, #5846f9 0%, #7b27d8 100%);
    font-size: 17px;
    margin-bottom: 100px;
    border-radius: 5px;
   
}
.about-btn:hover {
    color: #ffffff ;
    background:linear-gradient(180deg, #5846f9 0%, #7b27d8 100%);
    border-color: #fff;
}
#about h1 {
    font-size: 2.5rem;
    color: #2c4964;;
}
#about p {
    font-size: 1rem;
    color: #444444;;
    margin-top: 21px;
    margin-bottom: 1.5rem;
}
#about ul {
    padding: 0;
}
#about li{
    list-style: none;
    padding-top: 15px;
    text-align: left;
}
#about li .fa{
    color: #2c4964;
    font-size: 19px;
    padding-right: 5px;
}
@media screen and (max-width: 992px){
    #about .row{
         flex-direction: column-reverse;
     }
 }
@media screen and (max-width: 992px){
    #about .img{
        max-width: 100%;
    }
}
@media screen and (min-width: 992px) and (max-width: 1200px){
    #about h1{
        font-size: 3.5rem;

    }
}
@media screen and (min-width:752px) and (max-width: 992px){
    #about h1{
        font-size: 1.8rem;

    }
}
@media screen and (min-width:752px) and (max-width: 992px){
    #about p{
        font-size: 1rem;

    }
}

@media screen and (max-width:752px){
    #about h1{
        font-size: 2.2rem;

    }
}
@media screen and (max-width:752px){
    #about p{
        font-size: 1rem;

    }
}

/****************about**************/
#counts{
    background: linear-gradient(90deg, rgba(88, 70, 249, 0.5) 0%, rgba(123, 39, 216, 0.5) 100%), url(../img/counts-bg.png) center center no-repeat;
    /* padding: 100px 0; */
}
#counts span{
    color: #fff;
    font-size: 50px;
    font-weight: bold;
}
#counts p{
    color: #fff;
  
}
/*********************counts******************/
#services{
    background-color: #f9f8ff !important;


}
#services h1{
    font-size: 32px;
    text-align: center ;
  
    font-weight: bold ;
    color: #424242;
    padding-top: 100px;
}
#services p{
    font-size: 14px;
    text-align: center ;
    margin: 30px auto ;
    color: #585858;
}
#services .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
#services h4{
    text-align: center;
}
#services .icon-box{
    background: rgb(255, 255, 255);
    padding: 40px 20px 50px 20px;
    margin-bottom: 30px;
}
#services .icon-box .icon{
 width: 100%;
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 transition: ease-in-out 0.3s;
 position: relative;
}
#services .icon-box:hover{
    box-shadow: 0 0 25px 0 #4444;
}
svg {
    overflow: hidden;
    vertical-align: middle;
}

.icon i{
    font-size: 32px;
    display: inline-block;
    
    position: relative;
    left: -62px;
}
#serv-1-icon{
    color: #0000ffa6;
}
#serv-2-icon{
    color: rgb(110, 72, 0);
}
#serv-3-icon{
    color: rgb(238, 0, 226);
}
#serv-4-icon{
    color: rgb(238, 234, 0);
}
#serv-5-icon{
    color: rgb(238, 67, 0);
}
#serv-6-icon{
    color: rgb(0, 202, 238);
}

#services .icon:hover #serv-1-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}
#services .icon:hover #serv-2-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}
#services .icon:hover #serv-3-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}
#services .icon:hover #serv-4-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}
#services .icon:hover #serv-5-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}
#services .icon:hover #serv-6-icon{
    /* transition: 0.5s; */
    color: #fff !important;
}





#services  svg .path1:hover {
    /* transition: 0.5s; */
    fill: #0258a8;
}
#services  svg .path2:hover {
    /* transition: 0.5s; */
    fill: #ff0043;
}
#services  svg .path3:hover {
    /* transition: 0.5s; */
    fill: rgb(238, 0, 226);
}
#services  svg .path4:hover {
    /* transition: 0.5s; */
    fill: #46e57f;
}
#services  svg .path5:hover {
    /* transition: 0.5s; */
    fill: #973d37;
}
#services  svg .path6:hover {
    /* transition: 0.5s; */
    fill: #00ca9e;
}
#services .icon-box h4>a{
    color: #2c4964 !important;
    font-size: 24px;
    text-decoration: none;
}
#services .icon{
    justify-content: center;
    text-align: center;
}
/* #services .icon{
    width: 40px;
    padding: 30px 0;
    color: blanchedalmond;

} */
/*****************services****************/
#Feachers{
    background-color: #fcfcfc !important;
    margin-bottom: 60px;
 

}
#Feachers h1{
    font-size: 32px;
    text-align: center ;
    font-weight: bold ;
    color: #424242;
    padding-top: 100px;
    padding-bottom: 10px;
}
#Feachers p{
    font-size: 16px;
    text-align: left ;
    /* margin-left: 60px; */
    color: #585858;
}
#Feachers .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
#Feachers .icon-box{
    background: rgb(255, 255, 255);
    /* padding: 40px 20px 50px 20px; */
    margin-top: 30px;
    flex-direction: column;
}
#Feachers .icon-box h4>a{
    color: #2c4964 !important;
    font-size: 24px;
}
#Feachers i{
    float: left;
    padding-right: 20px;
    /* justify-content: center; */
    /* text-align: center; */
}
#Feachers i img{
    width: 61px;
    margin: 10px;
    color: blanchedalmond;

}
#features .image {
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 400px;
}
.img-fluid {
    max-width: 100%;
    height: auto;
}

@media screen and (max-width: 992px){
    #features .img-fluid {
    max-width: 100%;
    height: auto;
}
}
@media screen and (max-width: 992px){
    #Feachers .row{
    flex-direction: column-reverse;
}
}
/* @media screen and (min-width: 768px){
    #features .col-md-12 {
    justify-content: center;
   text-align: center;
    max-width: 100%;
}
} */

/**************FEACHERS******************/
#testimonial{
    background-color: #f9f8ff !important;
    position: relative;
    margin-bottom: 60px;
    padding: 0 0 60px 0
   

}
#testimonial h1{
    font-size: 32px;
    text-align: center ;
    margin: 0px auto 10px auto ;
    font-weight: bold ;
    color: #424242;
    padding-top: 100px;
    padding-bottom: 10px;
}
.owl-carousel .owl-stage-outer {
    position: relative;
    overflow: hidden;
    height: 400px;
}

#testimonial p{
    font-size: 14px;
    text-align: center ;
    margin: 30px 0 60px 0 ;
    color: #585858;
}
#testimonial .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
.single-testimonial{
    color: #fff;
   
    position: relative;
    margin: 0 15px 15px;
}
.item{
   
    background:#fff;
    
    box-shadow: 0 0px 20px 0 rgba(0, 0, 0, 0.1);
}
.texei-area1 p {
    font-size: 22px;
    padding: 20px 40px 20px 50px;
    /* text-align: center;
    justify-self: center; */
}
.img-area{
    border-radius: 50%;
    height: 144px;
    bottom: 2px;
    margin-left: -26px;
    position: absolute;
    top: 89%;
    left: 49px;
    width: 80px;
}
.texei-area1{
    width: 100%;
}

.single-testimonial h4{
    color: #2c4964;
    font-size: 18px;
    font-weight: bold;
    margin: 10px 0px 8px 45px;
    color: #2c4964;
    bottom: -104px;
    left: -18px;
    position: absolute
}
.single-testimonial h4 span{
    font-size: 12px;
    margin: 0px 0 0 45px;
    color: #2c4964;
    bottom: -25px;
    left: -41px;
    position: absolute;
}
.img-area>img{
    background: linear-gradient(to Bottom, #cacaca,white);
    border-radius: 49%;
    padding: 5px;
    margin-bottom: 10px;
    
}
.owl-carousel .owl-stage:after {
    
    height: 60px;
}
.owl-nav{
    color: blue;
    /* display: inline-block; */
    /* font-size: 55px; */
    text-align: center;
    
    /* transition: .6s; */
}
.owl-prev,
.owl-next{
    font-size: 0;
        display: inline-block;
        border-radius: 51%;
        padding: 7px;
        margin: 3px;
        background: #5846f9;

}
.owl-prev:active,
.owl-next:active{
    font-size: 0;
        
        background: rgb(111, 111, 250);

}
.owl-prev:hover,
.owl-next:hover{
    font-size: 0;
        
        background: rgb(111, 111, 250);

}
@media (max-width: 991px){
    .owl-carousel .owl-stage-outer {
        height: 300px;
    }
    }
/***********testimonial**********************/
#profolito{
    height: fit-content;
    margin-bottom: 100px;
    background-color: #ffffff;
    padding: 60px 0 60px 0;


}
#profolito h1{
    padding-top: 30px;
    padding-bottom: 10px;
    color: #666;
    font-size: 28px;
    font-weight: bold;

}
#profolito .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
#profolito p{
    
    color: #666;
    font-size: 16px;

}
#profolito ul{
    
margin: 0 auto 35px auto;
list-style: none;
text-align: center;
background: #fff;
border-radius: 50px;
padding: 2px 15px;
}
#profolito li{
    cursor: pointer;
    display: inline-block;
    padding: 10px 15px 8px 15px;
    font-size: 14px;
    font-weight: 600;
    line-height: 1;
    color: #334240;
    margin-bottom: 5px;
}
#profolito .filter-active{
background-color: #5846f9;
color: #ffff;
border-radius: 10px;
}

#portfolio .portfolio-wrap {
    /* transition: 0.3s; */
    position: relative;
    overflow: hidden;
    z-index: 1;
    margin: 10px 20px;
}

.filter1 {
    width: 100%;
    height: 100%;
    background-color:rgba(88, 70, 249, 0.8);
    position: absolute;
    bottom: 100%;
    left: 100%;
    /* border-radius: 10px; */
    transition: all ease-in-out 0.6s;
    /* overflow: hidden; */
    display: none;
    z-index: 2;
    opacity: 0.8;
}

.portofilo-wrap:hover>.filter1 {
    left: 0%;
    bottom: 0%;
    transition: .6s;
    display: flex;
}

.filter2 {
    width: 100%;
    height: 100%;
    background-color: rgba(88, 70, 249, 0.8);
    position: absolute;
    top: 100%;
    right: 100%;
    transition: all ease-in-out 0.6s;
    display: none;
    z-index: 2;
    opacity: 0.8;
}
.portofilo-wrap:hover>.filter2 {
    right: 0%;
    top: 0%;
    transition:.6s;
    display: flex;
}
.port-wrap-info,
.port-wrap-info-5,
.port-wrap-info-6{
    display: none;
}
.port-wrap-info i{
    display: inline-block;
}
.port-wrap-info a{
    text-decoration: none;
    color: #fff !important;
}
.port-wrap-info-5 a{
    text-decoration: none;
    color: #fff !important;
}
.port-wrap-info-6 a{
    text-decoration: none;
    color: #fff !important;
}
.portofilo-wrap:hover>.port-wrap-info {
    display: flex;
    color: #fff !important;
    position: absolute;
    z-index: 2;
    top: 25%;
    left: 40%;
    flex-direction: column;
    text-align: center;
}
.portofilo-wrap:hover>.port-wrap-info-5 {
    display: flex;
    color: #fff !important;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 40%;
    flex-direction: column;
    text-align: center;
}
.portofilo-wrap:hover>.port-wrap-info-6 {
    display: flex;
    color: #fff !important;
    position: absolute;
    z-index: 2;
    top: 40%;
    left: 40%;
    flex-direction: column;
    text-align: center;
}
@media (min-width: 992px){
    #portfolio .col-lg-4 {
    -ms-flex: 0 0 33.333333%;
    flex: 0 0 33.333333%;
    max-width: 33.333333%;
}
}



@media (min-width: 992px){
    .col-lg-4 #img-2{
        position: absolute;
        left: 319.984px;
        top: 0px;
    }
}
@media (min-width: 992px){
    .col-lg-4 #img-3{
        position: absolute;
        left: 639.982px;
        top: 0px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-4{
        position: absolute;
    left: 760.982px;
    top: 217.109px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-5{
        position: absolute;
        left: 383.984px;
    top: 256.422px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-6{
        position: absolute;
        left: 0px;
        top: 373.969px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-7{
        position: absolute;
        left: 760.968px;
        top: 466.859px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-8{
        position: absolute;
        left: 760.968px;
        top: 712.093px;
    }
}
@media (min-width: 992px){
    .portfolio-container #img-9{
        position: absolute;
        left: 383.984px;
        top: 800.891px;
    }
}

@media (min-width: 768px){
    .portfolio-container.col-md-6 {
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    padding-bottom: 15px !important;
}
}

#profolito .img-fluid {
    max-width: 100%;
    height: auto;
    /* padding-bottom: 15px; */
}
@media (min-width: 768px) and (max-width: 992px){
    .portfolio-container #img-3{
        position: absolute;
        left: 0;
        top:360px;
    }
}

@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-4{
        position: absolute;
        left: 360.984px;
        top:238px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-5{
        position: absolute;
        left: 360.984px;
        top: 468px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-6{
        position: absolute;
        left: 0;
        top: 580px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-7{
        position: absolute;
        left:  360.984px;
        top: 980px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-8{
        position: absolute;
        left: 0;
        top: 1100px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container #img-9{
        position: absolute;
        left: 360.984px;
        top: 1215px;
    }
}
@media (min-width: 768px)  and (max-width: 992px){
    .portfolio-container{
        position: relative;
         height: 1400px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container{
        position: relative;
         height: 866px;
    }
}
@media (min-width:1200px){
    .portfolio-container{
        position: relative;
         height:1015px;
    }
}


@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-4{
        position: absolute;
        left: 639.984px;
        top: 187px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-5{
        position: absolute;
        left: 320.984px;
        top: 215px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-6{
        position: absolute;
        left: 0;
        top: 300px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-7{
        position: absolute;
        left: 639.984px;
         top: 401px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-8{
        position: absolute;
        left: 639.984px;;
        top: 600px;
    }
}
@media (min-width:992px) and (max-width: 1200px){
    .portfolio-container #img-9{
        position: absolute;
        left: 321.984px;
        top: 669px;
    }
}

#portfolio .portfolio-wrap::before {
    content: "";
    background: rgba(88, 70, 249, 0.8);
    position: absolute;
    left: 30px;
    right: 30px;
    top: 30px;
    bottom: 30px;
    transition: all ease-in-out 0.3s;
    z-index: 2;
    opacity: 0;
}
/**********portfolio***************/
#price{
    background-color: #f9f8ff !important;
  padding-bottom: 100px;

}
#price h1{
    font-size: 32px;
    text-align: center ;
    /* margin: 40px auto 10px auto ; */
    font-weight: bold ;
    color: #424242;
    padding-top: 100px;
}

#price p{
    font-size: 16px;
    /* text-align: left ; */
    /* margin-left: 60px; */
    color: #585858;
}
#price .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
#price .box {
    margin-top: 30px;
    padding: 20px;
    background: #fff;
    text-align: center;
    border-radius: 5px;
    position: relative;
    overflow: hidden;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
#price h3 {
    font-weight: 400;
    margin: -20px -20px 20px -20px;
    padding: 20px 15px;
    font-size: 16px;
    font-weight: 600;
    color: #2c4964;
    background: #f8f8f8;
}
#price h4 {
    font-size: 36px;
    color: #5846f9;
    font-weight: 600;
    font-family: "Roboto", sans-serif;
    margin-bottom: 20px;
}
#price h4 sup {
    top: -.1em;
}
#price h4 span {
    font-size: 14px;
    color: #c9c5c5 !important ;
}
#price ul {
    padding: 0;
    list-style: none;
    color: #444444;
    text-align: center;
    line-height: 20px;
    font-size: 14px;
}
#price ul li {
    padding-bottom: 16px;
}
.btn-wrap a{
    text-decoration: none;
    background-color: #5846f9 ;
    padding: 10px 30px;
    color: #ffff !important;
    border-radius: 5px;
}
.btn-wrap a:hover{
    background-color: #968fdd ;
    
}
#price .advanced {
    width: 200px;
    position: absolute;
    top: 18px;
    right: -68px;
    transform: rotate(45deg);
    z-index: 1;
    font-size: 14px;
    padding: 1px 0 3px 0;
    background: #5846f9;
    color: #fff;
}
#price .featured h3 {
    color: #fff;
    background: #5846f9;
}
/*****************price************/
#faq{
    background-color: #5846f9!important;
    padding-bottom: 100px;

}
#faq h1{
    font-size: 32px;
    text-align: center ;
    /* margin: 40px auto 10px auto ; */
    font-weight: bold ;
    color: #ffffff;
    padding-top: 100px;
}

#faq .section-title p{
    font-size: 16px;
    /* text-align: left ; */
    /* margin-left: 60px; */
    color: #ffffff;
}
#faq .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #ffffff;
    margin: 10px auto;
}

#faq .faq-list a {
    display: block;
    position: relative;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 0 30px;
    outline: none;
    text-decoration: none;
    color: #2c4964;
}
#faq .faq-list .icon-help {
    font-size: 24px;
    position: absolute;
    right: 0;
    left: 20px;
    color: #8577fb;
}
#faq .faq-list{
    padding: 0;
}
#faq .faq-list ul {
    padding: 0;
    list-style: none;
}
.faq-list li{
    list-style: none;
    border-radius: 10px;
    padding: 30px;
    margin: 10px 0;
    background-color: white;
    position: relative;
}
#faq #faq-list-1,
#faq #faq-list-2,
#faq #faq-list-3,
#faq #faq-list-4
#faq #faq-list-5{
    text-align: left;
}
#faq a:hover {
    color: #8577fb;
    text-decoration: none;
}
#faq .faq-list p {
    margin-bottom: 0;
    padding: 10px 0 0 0;
    color: black;
}
#faq  .icon-show,
#faq  .icon-close {
    font-size: 24px;
    position: absolute;
    right: 0;
    top: 0;
    color: #8577fb;
}

#faq .faq-list a.collapsed:hover {
    color: #5846f9;

}
#faq .faq-list .icon-show, 
#faq .faq-list .icon-close {
    font-size: 12px;
    position: absolute;
    right: 42px;
    top: 30px;
}



#faq .faq-list a.collapsed .icon-show {
    display: inline-block;
}

/* #faq .faq-list .icon-show {
    display: none;
} */

#faq .faq-list a.collapsed .icon-close {
    display: none;
}
#faq .faq-list .icon-close {
    display: none;
}
/************faq*****************/
#contact{
    background-color: #f9f8ff!important;
    padding-bottom: 100px;

}
#contact h1{
    font-size: 32px;
    text-align: center ;
    /* margin: 40px auto 10px auto ; */
    font-weight: bold ;
    color: #424242;
    padding-top: 100px;
}

#contact .section-title p{
    font-size: 16px;
    text-align: center ;
   
    color: #585858;
}
#contact .border{
    left: calc(50% - 50px);
    width: 50px;
    height: 4px;
    background: #5846f9;
    margin: 10px auto;
}
.info-box{
    background-color: #fff;
    text-align: center;
    margin: 10px 0 ;
}
.info-box i{
    color: #5846f9;
    font-size: 28px;
    padding: 20px 0;
    display: inline-block;
}
.info-box h3{
    font-size: 24px;
    color: #2c4964;
    font-weight: 700;
    margin: 10px 0;
}
.info-box p{
    font-size: 14px;
    margin: 10px 0;
    padding-bottom: 20px;
}
.form-1{
    background-color: #fff;
    margin: 10px 0;
    padding: 40px;
}
#contact  button{
    background: #5846f9;
    border: 0;
    padding: 10px 24px;
    color: #fff;
    transition: 0.4s;
    border-radius: 5px;
}

/****************contact***************/

#footer{
    color: #fff;
    font-size: 14px;
    background: linear-gradient(45deg, rgba(86, 58, 250, 0.9) 0%, rgba(116, 15, 214, 0.9) 100%), url(../img/hero-bg.jpg) center center no-repeat;
    background-size: cover;
   

}
#footer h3{
       font-size: 22px;
    color: #fff;
    padding-top: 60px;
}

#footer p{
      font-size: 16px;
    color: #fff;
    padding-top: 20px;
    line-height: 2rem;
}
#footer ul {
padding:0;
}
#footer ul li{
    list-style:none;
    color: #fff;
    padding-top: 16px;
    line-height: 1.4rem;
}
#footer ul li a{
      text-decoration:none;
      font-size: 13px;
       color: #fff;
  
}
#footer .footer-top ul i {
    padding-right: 2px;
    color: #fff;
    font-size: 12px;
 
}
#footer form input[type="email"] {
    border: 0;
    padding: 4px 8px;
    width: calc(100% - 100px);
}
#footer form {
    margin-top: 30px;
    background: #fff;
    padding: 6px 10px;
    position: relative;
    border-radius: 5px;
    text-align: left;
    border: 1px solid white;
}
#footer form input[type="submit"] {
   position: absolute;
    top: -1px;
    right: -2px;
    bottom: -1px;
    border: 0;
    background: none;
    font-size: 16px;
    padding: 0 20px;
    background: rgba(123, 39, 216, 0.8);
    color: #fff;
    transition: 0.3s;
    border-radius: 0 5px 5px 0;
    box-shadow: 0px 2px 15px rgba(0, 0, 0, 0.1);
}
.teche-item,
.usefullinks-item,
.services-item,
.join-item
 {
   margin-bottom:30px;
 
}




